@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
}

@layer utilities {
    .container {
        margin: 0 auto;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
}
