---
import { SITE } from "@config";

import "@styles/global.css";

import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import Hero from "@sections/hero.astro";
import DedicationNumber from "@sections/dedication-number.astro";
import OurService from "@sections/our-service.astro";
import AboutUs from "@sections/about-us.astro";
import HowItWork from "@sections/how-it-work.astro";
import EarnPoint from "@sections/earn-point.astro";
import WhatWeDo from "@sections/what-we-do.astro";
import Testimonial from "@sections/testimonial.astro";
import OurPartner from "@sections/our-partner.astro";
import OurTeam from "@sections/our-team.astro";
import ListOfFaq from "@sections/list-of-faq.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE.title}</title>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content={SITE.title} />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&family=Tinos:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="scroll-smooth break-words antialiased font-tinos bg-white">
    <Header />
    <main>
      <Hero />
      <DedicationNumber />
      <OurService />
      <AboutUs />
      <HowItWork />
      <EarnPoint />
      <WhatWeDo />
      <Testimonial />
      <OurPartner />
      <OurTeam />
      <ListOfFaq />
    </main>
    <Footer />
  </body>
</html>
